<template>
	<v-menu
		offset-y
		transition="slide-y-transition"
	>
		<v-toolbar-side-icon slot="activator" />

		<v-list class="pa-0">

			<v-dialog v-model="newFileDialog" max-width="600px">
				<v-list-tile @click="" slot="activator">
					<v-list-tile-title>
						<v-icon flat>note_add</v-icon> New file
					</v-list-tile-title>
				</v-list-tile>

				<new-file-dialog @close="newFileDialog = false" />
			</v-dialog>

			<v-list-tile @click="save">
				<v-list-tile-title>
					<!-- save_alt may be better -->
					<v-icon flat>save</v-icon> Save
				</v-list-tile-title>
			</v-list-tile>
		</v-list>
	</v-menu>
</template>

<script>
	import { mapGetters } from "vuex";
	import NewFileDialog from "./new-file-dialog";

	export default {
		data: () => ({
			newFileDialog: false
		}),

		methods: {
			save () {
				const activeFile = this.getActiveFile;

				if (activeFile) {
					// TODO: use a getter as this is messy.
					// const imageData = activeFile.layerStore.state.layers[0].dataStore.state.data;

					// TODO: change this to use the orginal canvas
					/*
					const imgUrl = this.exportImage({
						width: activeFile.width,
						height: activeFile.height,
						imageData
					});
					*/

					// TODO: upload to server then ask to download it.
					// Or find another serverless way to do so.
					// window.open(imgUrl, "_blank");
				}
			},

			exportImage ({ width, height, imageData }) {
				const canvas = document.createElement("canvas");

				canvas.width = width;
				canvas.height = height;

				const ctx = canvas.getContext("2d");

				let canvasData = ctx.createImageData(width, height);

				for (let i = 0; i < imageData.length; i++) {
					canvasData.data[i] = imageData[i];
				}

				ctx.putImageData(canvasData, 0, 0);

				return canvas.toDataURL("image/png");
			}
		},

		computed: {
			...mapGetters({
				getActiveFile: "files/getActiveFile"
			})
		},

		components: {
			NewFileDialog
		}
	};
</script>
