<template>
	<v-toolbar
		color="blue-grey"
		dark
		fixed
		app
		clipped-right
		clipped-left
	>
		<main-toolbar-menu @new-file="newFileDialog = true" />

		<v-toolbar-title v-if="getActiveFile" class="display-2">
			{{ getActiveFile.title }}
		</v-toolbar-title>

		<v-spacer />

		<v-toolbar-items>
			<v-btn
				v-for="(file, index) of files"
				:key="index"
				v-if="!file.active"
				@click="setActiveFile(file)"
				flat
				class="display-1"
			>
				{{ file.title }}
			</v-btn>
		</v-toolbar-items>
	</v-toolbar>
</template>

<script>
	import { mapState, mapGetters, mapActions } from "vuex";

	import MainToolbarMenu from "./main-toolbar-menu.vue";
	import NewFileDialog from "./new-file-dialog";

	export default {
		data: () => ({
			newFileDialog: false
		}),

		computed: {
			...mapState({
				files: state => state.files.files
			}),

			...mapGetters({
				getActiveFile: "files/getActiveFile"
			})
		},

		methods: {
			...mapActions({
				setActiveFile: "files/setActiveFile"
			})
		},

		components: {
			MainToolbarMenu,
			NewFileDialog
		}
	};
</script>
