<template>
	<v-card>
		<v-card-title
			class="headline grey lighten-2 pa-1 pl-3"
			primary-title
		>
			<span>New File</span>

			<v-spacer />

			<v-btn
				@click="closeDialog"
				icon
			>
				<v-icon>close</v-icon>
			</v-btn>
		</v-card-title>

		<v-card-text>
			<v-container grid-list-md>
				<v-layout row wrap>
					<v-flex xs12 sm6>
						<v-layout row wrap>
							<v-text-field
								v-model="title"
								label="Title"
								required
							/>

							<v-text-field
								v-model="height"
								type="number"
								label="Height"
								required
							/>

							<v-text-field
								v-model="width"
								type="number"
								label="Width"
								required
							/>

							<v-select
								label="background"
								:items="['White', 'Transparency']"
								v-model="background"
							/>
						</v-layout>
					</v-flex>

					<v-flex xs12 sm6>
						<new-file-preview
							:height="height"
							:width="width"
							:background="background"
						/>
					</v-flex>
				</v-layout>
			</v-container>
		</v-card-text>

		<v-divider />

		<v-card-actions>
			<v-spacer />

			<v-btn
				flat
				@click="createFile"
			>
				Create
			</v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
	import NewFilePreview from "./new-file-preview";

	export default {
		data: () => ({
			title: "",
			height: "",
			width: "",
			background: ""
		}),

		created () {
			this.reset();
		},

		methods: {
			reset () {
				this.title = "Untitled";
				this.height = "400";
				this.width = "640";
				this.background = "White";
			},

			closeDialog () {
				this.reset();
				this.$emit("close");
			},

			createFile () {
				this.$store.dispatch("files/createFile", {
					title: this.title,
					height: this.height,
					width: this.width,
					background: this.background
				});

				this.closeDialog();
			}
		},

		components: {
			NewFilePreview
		}
	};
</script>
