<template>
	<v-navigation-drawer
		fixed
		clipped
		app
	>
		<tool-menu-title />
		<tool-categories />

        <v-divider />

		<tool-options-list />
	</v-navigation-drawer>
</template>

<script>
	import ToolMenuTitle from "./tool-menu-title";
	import ToolCategories from "./tool-categories";
	import ToolOptionsList from "./tool-options-list";

	export default {
		components: {
			ToolMenuTitle,
			ToolCategories,
			ToolOptionsList
		}
	};
</script>
