<template>
	<div>
		<v-list-tile-title class="title">{{ option.name }}</v-list-tile-title>

		{{ option.value }}
		<color-selector :option="option" v-if="isColor" />
		<number-selector :option="option" v-if="isNumber" />
		<angle-selector :option="option" v-if="isAngle" />
		<shape-selector :option="option" v-if="isShape" />
	</div>
</template>

<script>
	import colorSelector from "./option-types/color-selector";
	import numberSelector from "./option-types/number-selector";
	import angleSelector from "./option-types/angle-selector";
	import shapeSelector from "./option-types/shape-selector";

	export default {
		props: {
			option: {
				required: true,
				type: Object
			}
		},

		computed: {
			isColor () {
				return this.option.type === "color";
			},

			isNumber () {
				return this.option.type === "number";
			},

			isAngle () {
				return this.option.type === "angle";
			},

			isShape () {
				return this.option.type === "shape";
			}
		},

		components: {
			colorSelector,
			numberSelector,
			angleSelector,
			shapeSelector
		}
	};
</script>
