<template>
	<v-expansion-panel expand>
		<v-expansion-panel-content
			v-for="(item,i) in categories"
			:key="i"
		>
			<div slot="header" class="headline">{{ item }}</div>

			<tool-list :category="item" />
		</v-expansion-panel-content>
	</v-expansion-panel>
</template>

<script>
	import { mapGetters } from "vuex";
	import ToolList from "./tool-list";

	export default {
		computed: {
			...mapGetters({
				categories: "tools/getCategories"
			})
		},

		components: {
			ToolList
		}
	};
</script>
