<template>
	<v-container
		v-bind="{ [`grid-list-sm`]: true }"
		fluid
		class="drop-down-content"
	>
		<v-layout row wrap>
			<v-flex
				v-for="(tool, index) in tools"
				:key="index"
				xs2
			>
				<tool-item :tool="tool" />
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
	import { mapGetters } from "vuex";
	import ToolItem from "./tool-item";

	export default {
		props: {
			category: {
				type: String,
				required: true
			}
		},

		computed: {
			...mapGetters({
				getToolsFromCategory: "tools/getToolsFromCategory"
			}),

			tools () {
				return this.getToolsFromCategory(this.category);
			}
		},

		components: {
			ToolItem
		}
	};
</script>

<style scoped>
	.drop-down-content {
		padding: 0px 10px 10px 10px;
	}
</style>
