<template>
	<v-expansion-panel v-model="panel">
		<v-slide-y-transition>
			<v-expansion-panel-content v-if="tool">
				<div slot="header" class="headline">Options</div>

				<v-list>
					<v-slide-y-transition group>
						<v-list-tile
							v-for="(option, index) in tool.options"
							:key="index"
							transition="slide-y-transition"
						>
							<v-list-tile-content>
								<tool-option :option="option" />
							</v-list-tile-content>
						</v-list-tile>
					</v-slide-y-transition>
				</v-list>
			</v-expansion-panel-content>
		</v-slide-y-transition>
	</v-expansion-panel>
</template>

<script>
	import { mapGetters } from "vuex";
	import ToolOption from "./tool-option";

	export default {
		data: () => ({
			panel: null
		}),

		watch: {
			tool () {
				// Auto open options panel
				this.$nextTick().then(() => {
					this.panel = 0;
				});
			}
		},

		computed: {
			...mapGetters({
				tool: "tools/getActiveTool"
			})
		},

		components: {
			ToolOption
		}
	};
</script>
