<template>
	<v-hover>
		<v-card
			flat
			tile
			slot-scope="{ hover }"
			:class="[
				`elevation-${hover ? 2 : 0}`,
				tool.active ? 'tool-menu-item-active' : '',
				tool.active ? 'elevation-4' : ''
			]"
			:height="size"
			:width="size"
			class="tool-menu-item"
			@click.native="setActiveTool"
		>
			<v-img
				:src="tool.icon"
				:height="size"
				:width="size"
				:alt="tool.name"
				:title="tool.name"
			/>
		</v-card>
	</v-hover>
</template>

<script>
	import { mapActions } from "vuex";

	export default {
		props: {
			tool: {
				type: Object,
				required: true
			}
		},

		data: () => ({
			size: 40
		}),

		methods: {
			setActiveTool () {
				if (!this.tool.active) {
					this.activateTool(this.tool);
				}
			},

			...mapActions({
				activateTool: "tools/setActiveTool"
			})
		}
	};
</script>

<style scoped>
	.tool-menu-item {
		box-sizing: content-box;
		padding: 2px;
		border: 1px solid black;
		cursor: pointer;
	}

	.tool-menu-item-active {
		cursor: default;
	}
</style>
