<template>
	<v-navigation-drawer
		fixed
		right
		clipped
		app
	>
		<layer-menu-title />

		<v-list dense>
			<v-list-tile v-for="(layer, index) in layers" :key="index">
				<v-list-tile-action>
					<v-icon>menu</v-icon>
				</v-list-tile-action>

				<v-list-tile-content class="headline">
					<v-list-tile-title>{{ layer }}</v-list-tile-title>
				</v-list-tile-content>

				<v-list-tile-action>
					<!-- drag_indicator might be better but is having issues -->
					<v-icon>drag_handle</v-icon>
				</v-list-tile-action>
			</v-list-tile>
		</v-list>
	</v-navigation-drawer>
</template>

<script>
	import { mapGetters } from "vuex";
	import LayerMenuTitle from "./layer-menu-title";

	export default {
		computed: {
			layers () {
				const activeFile = this.getActiveFile;

				let layers = [];

				if (activeFile) {
					layers = activeFile.layerStore.state.layers.map(layer => {
						return layer.name;
					});
				}

				return layers.slice().reverse();
			},

			...mapGetters({
				getActiveFile: "files/getActiveFile"
			})
		},

		components: {
			LayerMenuTitle
		}
	};
</script>
