<template>
	<v-toolbar
		color="blue-grey lighten-1"
		dark
		flat
	>
		<v-flex>
			<v-toolbar-title class="text-xs-center display-1">
				Layers
			</v-toolbar-title>
		</v-flex>
	</v-toolbar>
</template>
