<template>
	<v-app>
		<layer-menu />
		<tool-menu />
		<main-toolbar />
		<image-container />
		<a-footer />
	</v-app>
</template>

<script>
	import MainToolbar from "@/components/menu/main-toolbar";
	import ImageContainer from "@/components/image/image-container";
	import AFooter from "@/components/app-footer";

	import LayerMenu from "@/components/layers/layer-menu";
	import ToolMenu from "@/components/tools/tool-menu";

	export default {
		data: () => ({
			right: false,
			left: false
		}),

		components: {
			MainToolbar,
			ToolMenu,
			ImageContainer,
			LayerMenu,
			AFooter
		}
	};
</script>

<style>
	html {
		overflow: hidden;
	}
</style>
