<template>
	<canvas
		ref="cursor-canvas"
		class="image-cursor-canvas"
	/>
</template>

<script>
	import { mapGetters } from "vuex";

	export default {
		computed: {
			...mapGetters({
				getActiveTool: "tools/getActiveTool"
			})
		},

		methods: {
			handleResize (e) {
				const canvas = this.$refs["cursor-canvas"];
				const parent = canvas.parentNode;

				canvas.width = parent.clientWidth;
				canvas.height = parent.clientHeight;
			},

			handleEvent (e) {
				if (this.getActiveTool && this.getActiveTool.events) {
					const toolEventFunction = this.getActiveTool.events[e.type];

					toolEventFunction && toolEventFunction(e);
				}
			}
		},

		mounted () {
			const canvas = this.$refs["cursor-canvas"];

			this.$nextTick(() => {
				canvas.addEventListener("mousemove", this.handleEvent);
				canvas.addEventListener("mousedown", this.handleEvent);
				canvas.addEventListener("mouseup", this.handleEvent);
				canvas.addEventListener("mouseout", this.handleEvent);

				window.addEventListener("resize", this.handleResize);
				this.handleResize();
			});
		},

		beforeDestroy () {
			window.removeEventListener("resize", this.handleResize);
		}
	};
</script>

<style scoped>
	.image-cursor-canvas {
		position: absolute;
		z-index: 200;
		cursor: none;
	}
</style>
