<template>
	<v-content>
		<v-container fluid fill-height pa-0>
			<v-layout
				justify-center
				align-center
				class="blue-grey darken-2 canvas-container"
			>
				<image-cursor-canvas />
				<image-canvas />
			</v-layout>
		</v-container>
	</v-content>
</template>

<script>
	import ImageCanvas from "./image-canvas";
	import ImageCursorCanvas from "./image-cursor-canvas";

	export default {
		components: {
			ImageCanvas,
			ImageCursorCanvas
		}
	};
</script>

<style scoped>
	.canvas-container {
		overflow: auto;
		position: relative;
		border: 5px solid black !important;
	}
</style>
