<template>
	<canvas
		ref="canvas"
		class="image-canvas"
		width="0"
		height="0"
	/>
</template>

<script>
	// TODO: Multiple canvas setup for layers.
	// TODO: make canvas generic and reuseable for layers
	import { mapGetters } from "vuex";

	export default {
		watch: {
			layers () {
				const activeFile = this.getActiveFile;

				if (activeFile) {
					const canvas = this.$refs.canvas;
					const parent = canvas.parentNode;

					canvas.width = activeFile.width;
					canvas.height = activeFile.height;

					let canvasDiffX = activeFile.width - parent.clientWidth;
					let canvasDiffY = activeFile.height - parent.clientHeight;
					let scale = 1;

					if (canvasDiffX > 0 || canvasDiffY > 0) {
						if (canvasDiffX > canvasDiffY) {
							scale = parent.clientWidth / activeFile.width;
						} else {
							scale = parent.clientHeight / activeFile.height;
						}
					}

					canvas.style.width = activeFile.width * scale + "px";
					canvas.style.height = activeFile.height * scale + "px";

					this.canvasState.setCanvas(canvas, activeFile.background);
				}
			}
		},

		computed: {
			layers () {
				const activeFile = this.getActiveFile;

				if (activeFile) {
					return activeFile.layerStore.getters.getActiveLayer;
				}

				return null;
			},

			canvasState () {
				const activeFile = this.getActiveFile;

				if (activeFile) {
					return activeFile.layerStore.getters.getActiveLayer.canvasState;
				}

				return null;
			},

			...mapGetters({
				getActiveFile: "files/getActiveFile"
			})
		}
	};
</script>

<style scoped>
	.image-canvas {
		position: absolute;
		pointer-events: none;
	}
</style>
